{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-rtl.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-rtl.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
    <center>
    <h1>SABBASANI DURGA MALLIAKRJUNAREDDY</h1>
    <h2>SABBASANI DURGA MALLIKARJUNAREDDY</h2>
    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
      </div>
      
    <button type="button" class="btn btn-primary">First Button</button>
    
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </center>
</body>
</html>